-
  const advantages = {
    light: true,
    name: 'advantages',
    title: 'в контексте физического окружения',
    subtitle: ' Принимайте решения',
    description: 'Географические широта и долгота используются как объединяющий элемент для комплексного анализа различных данных из разнородных источников.',
    cards: {
      highlight: 'В основе используемых технологий лежат:',
      items: [
        {
          icon: { src: 'advantages-1.svg' },
          description: 'Идентификация точного физического месторасположения (по географическим широте и долготе)',
        },
        {
          icon: { src: 'advantages-2.svg' },
          description: 'Возможность объединения на цифровой карте данных из различных источников в разные периоды времени',
        },
        {
          icon: { src: 'advantages-3.svg' },
          description: 'Анализ различных данных в одной и той же локации в комплексе, учитывая их влияние друг на друга. Прогнозирование оптимального месторасположения и связанных с ним характеристик',
        },
      ],
    }
  };

+cards(advantages)