-
  const advantages = {
    light: true,
    name: 'advantages',
    title: 'Принимайте решения',
    subtitle: 'в контексте физическогоокружения',
    description: 'Технологии Location Intelligence позволяют комплексно анализировать внутренние и внешние данные компании в контексте физического месторасположения для того, чтобы понять, где и почему происходят определённые события и прогнозировать наступление новых.',
    cards: {
      highlight: 'В основе Location Intelligence лежат',
      items: [
        {
          icon: { src: 'advantages-1.svg' },
          description: 'идентификация точного физического месторасположения по географическим широте и долготе',
        },
        {
          icon: { src: 'advantages-2.svg' },
          description: 'возможность объединения на цифровой карте данных из различных источников в различные периоды времени о физических объектах, компонентах окружающей среды, городской и промышленной инфраструктуры, людях и их перемещениях и так далее',
        },
        {
          icon: { src: 'advantages-3.svg' },
          description: 'анализ данных в комплексе, учитывая их влияние друг на друга',
        },
      ],
    }
  };

+cards(advantages)