section.cases
  .container
    .cases-wrapper
      .cases-info
        p.cases__description
          | Одна из самых распространенных задач Epsilon Metrics - определение оптимальной локации точек продаж, склада или офиса, которую мы успешно решаем с учётом плотности населения в этом районе, проходимости, пробок, близости метро, возможности парковки, среднего дохода живущих или работающих рядом людей и других критериев.

        p.cases__description
          | Посмотрите на другие примеры использования Location intelligence технологий и данных в Вашей отрасли.

        a(href="#").button.cases__button
          | Посмотреть кейсы       
  
      .cases__image
        img(src="./images/cases.png", alt="").cases__image-item