section.company
  .container
    .company-wrapper
      .company-info
        h2.title.company__title
          | Epsilon Metrics

        p.company__description
          | даёт возможность собрать из разных источников, обработать и представить в нужном формате текущие и исторические данные, выполнить их обогащение и анализ, выявить тенденции и закономерности, спрогнозировать наступление определенных событий, а также отреагировать на уже наступившие события в режиме реального времени. Использование платформы решает проблему несогласованности данных из разрозненных источников за счет использования географических координат и механизмов визуализации результатов обработки и анализа данных на картах.

        p.company__description
          | Epsilon Metrics преобразует пространственные данные в оптимальные маршруты, удачное месторасположение магазинов, складских и производственных помещений, успешные маркетинговые кампании, основанные на поведении пользователей, позволяет организовать взаимодействие с потенциальными и действующими клиентами, конкурентами и поставщиками, управлять бизнес-процессами, активами и продажами в контексте физического окружения, контролировать построение и эксплуатацию инфраструктуры и так далее.  

        a(href="#").button.button--secondary.company__button
          | Узнать больше       
  
      .company__image
        img(src="./images/company.png", alt="").company__image-item