section.company
  .container
    .company-wrapper
      .company-info
        h2.title.company__title
          | В КАКИХ ОТРАСЛЯХ МЫ ПОЛЕЗНЫ

        p.company__description
          | Технологии геопространственного анализа востребованы сегодня в самых разных отраслях 

        ul.company__list
          li.company__item «Где открыть кафе», «Сколько детских садов построить», «Как организовать цепочку поставок», «В каких регионах развивать бизнес», «Почему здесь мало покупателей»,«Какой экономический потенциал территории», и так далее – на подобные разноплановые вопросы отвечают геоаналитические решения путём анализа больших данных.
          li.company__item Геоаналитические платформы являются базой для построения цифровых моделей городов, элементов промышленной и социальной инфраструктуры, комплексного развития территорий и других направлений национальной программы «Цифровая экономика РФ».
          li.company__item В Epsilon Metrics объединяются государственные и бизнес-данные, данные цифровой промышленности, IoT и мобильных устройств, а такжерезультаты исследований по социологии и демографии, геологии и экологии, метеорологии и другим научным дисциплинам. 

        a(href="#").button.company__button
          | Узнать больше       

      .company__image
        img(src="./images/company1.png", alt="").company__image-item