section.hero
  .container
    .hero-wrapper
      .hero-info
        h1.hero__title
          span.hero__title-large
            |Превращаем геоданные в умные идеи

        p.hero__description
          |Epsilon Metrics - платформа геопространственной аналитики с поддержкой машинного обучения

        a(href="#").button.hero__button
          | Заказать демо          

      .hero__image
        img(src="./images/hero.jpg", alt="").hero__image-item