section.hero
  .container
    .hero-wrapper
      .hero-info
        h1.hero__title
          span.hero__title-small
            | Epsilon Metrics - 
          span.hero__title-large
            | вдохновляет&nbsp;карты

        p.hero__description
          | Используйте возможности location intelligence технологий

        a(href="#").button.hero__button
          | Заказать демо          

      .hero__image
        img(src="./images/hero.jpg", alt="").hero__image-item