section.implementation
	.implementation__container.container 
		.implementation__row 
			.implementation__body 
				h2.implementation__title 
					|Мы ускорим реализацию проектов геопространственного анализа
				.implementation__text 
					p Наша аналитики и разработчики решают задачи геопространственного анализа с использованием данных Вашего бизнеса и нужныхданных из внешних источников
					p Мы выполнимData Science проект «end-to-end», от сбора и подготовки наборов данных до мониторинга и эксплуатации моделей машинного обучения и визуализации результатов анализа.
					p Предоставим среды для подготовки, обогащения и анализа наборов данных, разработки и обучения моделей машинного обучения.
					p При необходимости реализуем интеграционные решения с Вашими системами-источниками, встроим интерфейсы визуализации результатов анализа в Ваш ИТ-ландшафт.
			.implementation__image 
				img(src="images/implementation.png", alt="alt")
