section.process 
	.process__container.container
		.process__image 
			img(src="images/process.png", alt="alt")
		a(href="#").button.process__button
			| Узнать больше       
		.process__items 
			.process__item.item-process 
				.item-process__inner 
					.item-process__column 
						.item-process__icon 
							img(src="images/process-icon1.svg", alt="alt")
						.item-process__title 
							|Технологии
						.item-process__text 
							|Full-stackгеоаналитическая платформа с организованными средами для совместной работы DataScience команды в ходе анализа больших пространственных данных
			.process__item.item-process 
				.item-process__inner 
					.item-process__column 
						.item-process__icon 
							img(src="images/process-icon2.svg", alt="alt")
						.item-process__title 
							|Данные
						.item-process__text 
							|Предоставляем доступ к качественными наборам гепространственных данных, а также помогаем собрать уникальные данные с использованием собственных инструментов и системы краудсорсинга
			.process__item.item-process 
				.item-process__inner 
					.item-process__column 
						.item-process__icon 
							img(src="images/process-icon3.svg", alt="alt")
						.item-process__title 
							|Сервисы
						.item-process__text 
							|Получения, подготовки, обогащения, анализа, визуализации больших геопространственных данныхи машинного обучения


