section.technologys
	.technologys__container.container
		h2.technologys__title 
			|Посмотрите на примеры использования геопространственных технологий в Вашей отрасли
		.technologys__items 
			.technologys__item-wrapper
				.technologys__item.item-technologys
					.item-technologys__column 
						.item-technologys__header 
							.item-technologys__icon 
								img(src="images/icon-technologys1.svg", alt="alt")
							span Банки и финансы
						ul.item-technologys__list 
							li.item-technologys__item 
								|Определение оптимального месторасположения отделения, банкомата, точки продаж
							li.item-technologys__item 
								|Управление региональной сетью, анализ эффективности и оптимизация сети
							li.item-technologys__item 
								|Региональное развитие, анализ рынка  в регионах
							li.item-technologys__item 
								|Оценка залогов, ипотеки
							li.item-technologys__item 
								|Привлечение клиентов (CRM + GPS)
							li.item-technologys__item 
								|Профилирование рисков в регионах
							li.item-technologys__item 
								|Сбор задолженностей
							li.item-technologys__item 
								|Инкассация
			.technologys__item-wrapper
				.technologys__item.item-technologys
					.item-technologys__column 
						.item-technologys__header 
							.item-technologys__icon 
								img(src="images/icon-technologys2.svg", alt="alt")
							span Логистика
						ul.item-technologys__list 
							li.item-technologys__item 
								|Планирование и динамическая оптимизация маршрутов
							li.item-technologys__item 
								|Прогнозирование спроса в заданном регионе, задержек, времени простоя, сроков доставки, наличия товаровна складе и т.д.
							li.item-technologys__item 
								|Оптимальное распределение грузов
							li.item-technologys__item 
								|Трекинг перемещений в режиме реального времени
							li.item-technologys__item 
								|Борьба с мошенничеством
							li.item-technologys__item 
								|Минимизация времени простоев и времени в пути
			.technologys__item-wrapper
				.technologys__item.item-technologys
					.item-technologys__column 
						.item-technologys__header 
							.item-technologys__icon 
								img(src="images/icon-technologys3.svg", alt="alt")
							span РОЗНИЧНАЯ ТОРГОВЛЯ
								br 
								|И E-COMMERCE
						ul.item-technologys__list 
							li.item-technologys__item 
								|Определение оптимального месторасположения магазинов и т.д.
							li.item-technologys__item 
								|Оптимизация сети магазинов и предотвращение «каннибализации»
							li.item-technologys__item 
								|Планирование территории, анализ рынка в заданном регионе, оптимизация покрытия
							li.item-technologys__item 
								|Запуск новых продуктов
							li.item-technologys__item 
								|Рекламные акции, геомаркетинг
							li.item-technologys__item 
								|Анализ целевого ассортимента
							li.item-technologys__item 
								|Планирование помещения магазинов
							li.item-technologys__item 
								|Коммуникации в реальном времени
			.technologys__item-wrapper
				.technologys__item.item-technologys
					.item-technologys__column 
						.item-technologys__header 
							.item-technologys__icon 
								img(src="images/icon-technologys4.svg", alt="alt")
							span недвижимость
						ul.item-technologys__list 
							li.item-technologys__item 
								|Анализ инвестиционной привлекательности объектов недвижимости и земельных участков
							li.item-technologys__item 
								|Best use сценарии
							li.item-technologys__item 
								|Планирование помещений
							li.item-technologys__item 
								|Оптимизация стоимости приобретения и аренды
			.technologys__item-wrapper
				.technologys__item.item-technologys
					.item-technologys__column 
						.item-technologys__header 
							.item-technologys__icon 
								img(src="images/icon-technologys5.svg", alt="alt")
							span ГОСУДАРСТВЕННОЕ И
								br 
								|МУНИЦИПАЛЬНОЕ УПРАВЛЕНИЕ
						ul.item-technologys__list 
							li.item-technologys__item 
								|Городское планирование 
							li.item-technologys__item 
								|Работа ресурсоснабжающих организаций, коммунальных служб, утилизация отходов, уличное освещение и т.д.
							li.item-technologys__item 
								|Мониторинг перемещений людей
							li.item-technologys__item 
								|Оптимизация инфраструктуры общественного транспорта, анализ дорожного движения и т.д.
							li.item-technologys__item 
								|Создание кадастров (земельный, водный, лесной и др.), реестров объектов недвижимости и инфраструктуры
							li.item-technologys__item 
								|Комплексное развитие территорий и др.
			.technologys__item-wrapper
				.technologys__item.item-technologys
					.item-technologys__column 
						.item-technologys__header 
							.item-technologys__icon 
								img(src="images/icon-technologys6.svg", alt="alt")
							span многие другие
						ul.item-technologys__list 
							li.item-technologys__item 
								|Градостроительное планирование 
							li.item-technologys__item 
								|Урбанистика
							li.item-technologys__item 
								|Умные города
							li.item-technologys__item 
								|Здравоохранение
							li.item-technologys__item 
								|Сельское хозяйство
							li.item-technologys__item 
								|Добыча ископаемых

