-
  const usage = {
    name: 'usage',
    cards: {
      highlight: 'Мы эффективно работаем там, где важными факторами являются:',
      items: [
        {
          icon: { src: 'usage-1.svg' },
          title: 'Физическое местонахождение',
          description: 'производства, клиентов и сотрудников, транспортных средств, магазинов и складов, мест выращивания сельскохозяйственных культур и хранения урожая, расположения башен сотовой связи и застрахованного имущества и так далее',
        },
        {
          icon: { src: 'usage-2.svg' },
          title: 'Поведение и перемещения людей и транспортных потоков',
          description: 'С использованием данных с мобильных устройств и датчиков IoT Epsilon Metrics помогает изучить поведение людей и выявлять пространственно-временные факторы среды, которые на него влияют, определить оптимальный маршрут с учётом пробок и ситуации на дорогах и так далее',
        },
        {
          icon: { src: 'usage-3.svg' },
          title: 'Взаимодействие',
          description: 'с потенциальными и действующими клиентами, конкурентами и поставщиками в контексте физического окружения.',
        },
      ],
    }
  };

+cards(usage)