-
  const workflow = {
    name: 'workflow',
    title: 'Как это работает',
    cards: {
      items: [
        {
          icon: { src: 'workflow-1.svg' },
          description: 'Сервисы платформы преобразуют геопространственные данные в оптимальные маршруты, удачное месторасположение магазинов и офисов, заводов и складов, позволяют управлятьактивами в контексте физического окружения, контролировать построение и эксплуатацию инфраструктуры, планировать маркетинговые кампании с  учётом информации о местоположении клиентов, и так далее.',
        },
        {
          icon: { src: 'workflow-2.svg' },
          description: 'Epsilon Metrics даёт возможность получить из разных источников и подготовить геопространственные данные, выполнить их обогащение и анализ, выявить тенденции и закономерности и спрогнозировать значения различных показателей в контексте месторасположения.',
        },
        {
          icon: { src: 'workflow-3.svg' },
          description: 'Epsilon Metrics объединит Ваши бизнес-данные с внешними данными (например, посещаемость, демография, транспортная доступность, динамика рынка, популярные городские объекты, погодные условия и многие другие), и позволит провести комплексный анализ производительности Ваших активов в заданных локациях.',
        },
      ],
    }
  };

+cards(workflow)