-
  const workflow = {
    name: 'workflow',
    title: 'Как это работает',
    subtitle: 'Мы ускорим анализ пространственных данных',
    description: 'Наши аналитики и разработчики решают задачи пространственного анализа с использованием данных Вашего бизнеса и нужных данных из внешних источников.',
    cards: {
      items: [
        {
          icon: { src: 'usage-1.svg' },
          title: 'Lorem Ipsum is simply dummy',
          description: 'It has survived not only five centuries, but also the leap into electronic, remaining essentially unchanged. It was popularised in the 1960s with the release/',
        },
        {
          icon: { src: 'usage-1.svg' },
          title: 'Lorem Ipsum is simply dummy',
          description: 'It has survived not only five centuries, but also the leap into electronic, remaining essentially unchanged. It was popularised in the 1960s with the release/',
        },
        {
          icon: { src: 'usage-1.svg' },
          title: 'Lorem Ipsum is simply dummy',
          description: 'It has survived not only five centuries, but also the leap into electronic, remaining essentially unchanged. It was popularised in the 1960s with the release/',
        },
      ],
    }
  };

+cards(workflow)