.footer {
  &-wrapper {
    display: flex;
    padding: 51px 0 53px;

    @include max("lg") {
      flex-direction: column;
    }

    @include max("sm") {
      padding: 45px 0;
    }
  }

  &-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    white-space: nowrap;

    @include max("sm") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include max("xs") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include max("xxs") {
      grid-template-columns: 1fr;
    }

    &__section {
      @include max("sm") {
        grid-column: auto !important;
        grid-row: auto !important;
      }
    }

    &__title {
      margin-bottom: 11px;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.8;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &-bar {
    font-size: 14px;
    line-height: 1.5;
    color: $white;
    background-color: $charcoal;

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 0;

      @include max("sm") {
        flex-direction: column;
      }
    }
  }

  &__logo {
    margin-right: 44px;

    @include max("lg") {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  &__nav {
    flex-grow: 1;

    @media screen and (min-width: 1400px) {
      margin-top: 5px;
    }
  }
}
