html {
  font-family: $fontPrimary;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}
body {
  color: $black;
}

.container {
  width: 1400px;
  padding: 0 115px;
  margin: 0 auto;
  max-width: 100%;

  @include max("lg") {
    padding: 0 50px;
  }

  @include max("sm") {
    padding: 0 20px;
  }
}

.no-scroll {
  overflow: hidden;
}
