extends ../layouts/default

block vars
  -
    const page = {
      title: 'EPSILON METRICS'
    };

block main
  include ../partials/_hero
  include ../partials/_advantages
  include ../partials/_company
  include ../partials/_usage
  include ../partials/_technologys
  include ../partials/_workflow
  include ../partials/_process
  include ../partials/_implementation
  include ../partials/_contacts