extends ../layouts/default

block vars
  -
    const page = {
      title: 'EPSILON METRICS'
    },
    content = {
      advantages: {
        light: true,
        name: 'advantages',
        title: 'Принимайте решения',
        subtitle: 'в контексте физическогоокружения',
        description: 'Технологии Location Intelligence позволяют комплексно анализировать внутренние и внешние данные компании в контексте физического месторасположения для того, чтобы понять, где и почему происходят определённые события и прогнозировать наступление новых.',
        cards: {
          highlight: 'В основе Location Intelligence лежат',
          items: [
            {
              icon: { src: 'advantages-1.svg' },
              description: 'идентификация точного физического месторасположения по географическим широте и долготе',
            },
            {
              icon: { src: 'advantages-2.svg' },
              description: 'возможность объединения на цифровой карте данных из различных источников в различные периоды времени о физических объектах, компонентах окружающей среды, городской и промышленной инфраструктуры, людях и их перемещениях и так далее',
            },
            {
              icon: { src: 'advantages-3.svg' },
              description: 'анализ данных в комплексе, учитывая их влияние друг на друга',
            },
          ],
        }
      },
      usage: {
        name: 'usage',
        title: 'ПРИМЕНЕНИЕ LOCATION INTELLIGENCE',
        description: 'Epsilon Metrics может объединять и комплексно анализировать данные Вашего бизнеса и государственные и бизнес-данные, данные цифровой промышленности, IoT и мобильных устройств c результатами исследований по социологии и демографии, биологии, геологии и экологии, метеорологии и другим научным направлениям.<br />Поэтому сфера применения технологий Location intelligence не ограничивается определенными отраслями.',
        cards: {
          highlight: 'Они эффективно работают везде, где важным фактором в бизнес-модели являются',
          items: [
            {
              icon: { src: 'usage-1.svg' },
              title: 'Физическое местонахождение',
              description: 'производства, клиентов и сотрудников, транспортных средств, магазинов и складов, мест выращивания сельскохозяйственных культур и хранения урожая, расположения башен сотовой связи и застрахованного имущества и так далее',
            },
            {
              icon: { src: 'usage-2.svg' },
              title: 'Поведение и перемещения людей и транспортных потоков',
              description: 'С использованием данных с мобильных устройств и датчиков IoT Epsilon Metrics помогает изучить поведение людей и выявлять пространственно-временные факторы среды, которые на него влияют, определить оптимальный маршрут с учётом пробок и ситуации на дорогах и так далее',
            },
            {
              icon: { src: 'usage-3.svg' },
              title: 'Взаимодействие',
              description: 'с потенциальными и действующими клиентами, конкурентами и поставщиками в контексте физического окружения.',
            },
          ],
        }
      },
      workflow: {
        name: 'workflow',
        title: 'Как это работает',
        subtitle: 'Мы ускорим анализ пространственных данных',
        description: 'Наши аналитики и разработчики решают задачи пространственного анализа с использованием данных Вашего бизнеса и нужных данных из внешних источников.',
        cards: {
          items: [
            {
              icon: { src: 'usage-1.svg' },
              title: 'Lorem Ipsum is simply dummy',
              description: 'It has survived not only five centuries, but also the leap into electronic, remaining essentially unchanged. It was popularised in the 1960s with the release/',
            },
            {
              icon: { src: 'usage-1.svg' },
              title: 'Lorem Ipsum is simply dummy',
              description: 'It has survived not only five centuries, but also the leap into electronic, remaining essentially unchanged. It was popularised in the 1960s with the release/',
            },
            {
              icon: { src: 'usage-1.svg' },
              title: 'Lorem Ipsum is simply dummy',
              description: 'It has survived not only five centuries, but also the leap into electronic, remaining essentially unchanged. It was popularised in the 1960s with the release/',
            },
          ],
        }
      },
    };

block main
  include ../partials/_hero
  include ../partials/_advantages
  include ../partials/_company
  include ../partials/_usage
  include ../partials/_cases
  include ../partials/_workflow
  include ../partials/_contacts