.advantages {
  padding-bottom: 70px;
  background: url("../images/advantages.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: $violet;

  @include max("lg") {
    background-size: cover;
  }

  @include max("sm") {
    padding: 45px 0;
  }

  .cards {
    &__highlight {
      font-weight: 700;
    }

    &__item {
      border-color: transparent;
      background-color: $blue;
    }
  }
}
