.cases {
  padding: 83px 0 87px;
  background-color: $cultured;
  overflow: hidden;

  @include max("sm") {
    padding: 45px 0;
  }

  &-wrapper {
    position: relative;

    @include max("sm") {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &-info {
    position: relative;
    z-index: 2;
    max-width: 595px;
    margin-right: auto;

    @include max("lg") {
      max-width: 52%;
    }

    @include max("sm") {
      max-width: 100%;
    }
  }

  &__button {
    margin-top: 29px;
  }

  &__image {
    position: absolute;
    top: -26px;
    right: 0;
    z-index: 1;
    width: 42%;

    @media screen and (min-width: 1400px) {
      width: 499px;
    }

    @include max("sm") {
      position: static;
      margin-bottom: 45px;
      width: 100%;
    }

    &-item {
      @include max("sm") {
        margin: 0 auto;
      }
    }
  }

  p + p {
    margin-top: 16px;
  }
}
