/* media */
$media-list: (
  "xxs": 375,
  "xs": 560,
  "sm": 767,
  "md": 1079,
  "lg": 1279,
  "xl": 1599,
  "xxl": 1900,
);

/* шрифты */
$fontPrimary: "Manrope", sans-serif;
$fontSecondary: "Oswald", sans-serif;

/* цвета */
$black: #333333;
$white: #ffffff;

$orange: #ff7f49;
$quartz: #4a4a4a;
$granite: #616161;
$grey: #4f4f4f;
$charcoal: #2f2f2f;
$gainsboro: #dfdfdf;
$blue: #353993;
$violet: #3b40a5;
$silver: #c8c8c8;
$cultured: #f8f8f8;

$blackPure: #000000;

$buttonHoverColor: rgba(255, 127, 73, 0.7);

/* ** Deprecated colors **
$lazuli: #1a5a98;
*/

/* other */
$transition: 0.3s linear;
